{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
    {% block main_section %}
        <div class="form-section">
            <h2>Авторизация на сайте</h2>
            <form method="post">
                {% csrf_token %}
                <!--{{ form }} Сначала было так. .as_p значит, что каждая строчка будет как новый параграф.  -->
                {{ form|crispy }}
                <button type="submit" class="btn btn-outline-warning">Войти</button>
            </form>
        </div>
    {% endblock %}

{% block aside_section %}
    <h3><b>Сериалы про ботаников</b></h3>
    <img src="https://i.ytimg.com/vi/VlsQC87i06w/maxresdefault.jpg" class="img-fluid">
    <p>Мы составили для вас подборку лучших фильмов про ботаников.</p>
    <button class="btn btn-warning center-block">Посмотреть</button>
{% endblock aside_section %}